<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775571773194-vs1ljj2l35a27gslk64e767gbu3ov120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775571773194-vs1ljj2l35a27gslk64e767gbu3ov120</string>
	<key>API_KEY</key>
	<string>AIzaSyCnSyNofqvQt-7I1GY6ArqiImHjhSoS09U</string>
	<key>GCM_SENDER_ID</key>
	<string>775571773194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ingravity.radiomyme</string>
	<key>PROJECT_ID</key>
	<string>radio-play-for-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-play-for-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:775571773194:ios:9822336ead7f06b71f4cf3</string>
	<key>DATABASE_URL</key>
	<string>https://radio-play-for-ios.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4466685095115509~5892890271</string>
</dict>
</plist>
