<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>itemChildren</key>
	<array>
		<dict>
			<key>itemTitle</key>
			<string>Radiomyme</string>
			<key>itemTitle2</key>
			<string>http://listen.radionomy.com/radiomyme-tv</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/RadiomymeWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/radiomyme.jpg</string>
			<key>subtitle</key>
			<string>Dance - Electro</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/radiomyme</string>
			<key>Twitter</key>
			<string>https://www.twitter.com/radiomyme</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>ClubOne</string>
			<key>itemTitle2</key>
			<string>http://listen.radionomy.com/clubone</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/ClubOneWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/clubone.jpg</string>
			<key>subtitle</key>
			<string>House Music</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/radiomyme</string>
			<key>Twitter</key>
			<string>https://www.twitter.com/clubonesf</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>Pure FM (RTBF)</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1566708</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/ClubOneWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/purefm.jpg</string>
			<key>subtitle</key>
			<string>Sound of Belgium</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/PureRTBF/</string>
			<key>Twitter</key>
			<string>https://twitter.com/PureRTBF</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>Blue Marlin Ibiza Radio</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1131869</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/DanceWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/ibiza.jpg</string>
			<key>subtitle</key>
			<string>Sound of Ibiza</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/BMIbiza/</string>
			<key>Twitter</key>
			<string>https://twitter.com/ibizaradio</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>DEEP HOUSE LOUNGE</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=186925</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/ElectroWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/deep.jpg</string>
			<key>subtitle</key>
			<string>Deep House Music</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/DeepHouseLoungeMix/</string>
			<key>Twitter</key>
			<string>https://twitter.com/DeepHouseBuca</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>RADIO JOVEM POP FM - HITS</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1676424</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/OldOneWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/jovem.jpg</string>
			<key>subtitle</key>
			<string>Electro - Pop</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/fmjovemhits/</string>
			<key>Twitter</key>
			<string>https://www.twitter.com/</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>PulsRadio DANCE</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1551202</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/ClubOneWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/dance.jpg</string>
			<key>subtitle</key>
			<string>House Music</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/PulsRadioCom/</string>
			<key>Twitter</key>
			<string>https://twitter.com/pulsradiocom</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>TopclubFm</string>
			<key>itemTitle2</key>
			<string>http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1576377</string>
			<key>itemURLM3U8</key>
			<string>NO</string>
			<key>imageFilePath</key>
			<string>http://data.radiomyme.com/IOS/wall/DanceWall.jpg</string>
			<key>imageFilePath2</key>
			<string>http://data.radiomyme.com/IOS/radio/topclub.jpg</string>
			<key>subtitle</key>
			<string>House Music</string>
			<key>Facebook</key>
			<string>https://www.facebook.com/Topclubradio</string>
			<key>Twitter</key>
			<string>https://twitter.com/topclubradio</string>
		</dict>
	</array>
</dict>
</plist>
